<tr>
    <td>
        <input type="checkbox" id="checkbox-newfile" class="isChecked" checked>
    </td>
    <td>
        <div class="input-group">
            <input type="text" class="form-control input-sm" id="filename-new">
            <div class="input-group-btn">
                <button type="button" class="btn btn-sm btn-primary active" id="save-new">Save</button>
                <button type="button" class="btn btn-sm btn-primary active" id="cancel-new">Cancel</button>
            </div>
        </div>
    </td>
</tr>
