<tr data-index="{{id}}">
    <td>
        <input type="checkbox" data-index="{{id}}">
    </td>
    <td>
        <div class="input-group">
            <input type="text" class="form-control input-sm" value="{{name}}">
            <div class="input-group-btn" >
                <button type="button" class="btn btn-sm btn-primary active save-edit">Save</button>
                <button type="button" class="btn btn-sm btn-primary active cancel-edit">Cancel</button>
            </div>
        </div>
    </td>
</tr>
