<tr id="files-table-head">
  <th>
    <input type="checkbox" value="">
  </th>
  <th>
    <div class="input-group">
      <input type="text" class="form-control input-sm" id="filename">
      <div class="input-group-btn">
        <button type="button" class="btn btn-sm btn-primary" id="save">Save</button>
        <button type="button" class="btn btn-sm btn-primary" id="cancel">Cancel</button>
      </div>
    </div>
  </th>
</tr>